@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Gestión de Clientes</h1>

<p>
    Usa el menú para ir a <b>Clientes</b> y capturar registros.
    O haz clic aquí: <a href="clientes">Clientes</a>.
    
</p>
